[submodule "digit-recognition"]
	path = digit-recognition
	url = https://github.com/HelixCipher/digit-recognition
[submodule "digiti-signum"]
	path = digiti-signum
	url = https://github.com/HelixCipher/digiti-signum
[submodule "Understanding-Data-Augmentation"]
	path = Understanding-Data-Augmentation
	url = https://github.com/HelixCipher/Understanding-Data-Augmentation
[submodule "E-commerce-Conversion-Prediction"]
	path = E-commerce-Conversion-Prediction
	url = https://github.com/HelixCipher/E-commerce-Conversion-Prediction
[submodule "Heat-Pump-Contribution-Analysis-Using-Real-Energy-Data"]
	path = Heat-Pump-Contribution-Analysis-Using-Real-Energy-Data
	url = https://github.com/HelixCipher/Heat-Pump-Contribution-Analysis-Using-Real-Energy-Data
[submodule "CAN-T-SEE-THE-FOREST-FOR-ALL-THE-TREES"]
	path = CAN-T-SEE-THE-FOREST-FOR-ALL-THE-TREES
	url = https://github.com/HelixCipher/CAN-T-SEE-THE-FOREST-FOR-ALL-THE-TREES
[submodule "data-processing"]
	path = data-processing
	url = https://github.com/HelixCipher/data-processing
